.container {
    display: flex;
}

.score-title {
    align-self: flex-start;
    font-weight: 600;
    font-size: 4rem;
}

.level-title {
    padding-left: 5rem;
    align-self: flex-end;
    font-weight: 600;
    font-size: 4rem;
}